# User Environment
.env
.env.local

# Databases/Logs
*.db
data/*.db
data/*.json
data/guardian_state.json
seen.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.idea/
.vscode/


# Simulation Caches
src/simulation/__pycache__
run_simulation.py
tests/